body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

a:link,
a:visited,
a:hover {
    color: #0d80f5
}

.toc-section-number {
    font-weight: bold;
    
}

#TOC ul {
    list-style-type: none;
}

[data-custom-style=NOTE] {
    padding-left: 2rem;
}

h1, h2, h3, h4, h5 {
    color: #0070c0;
}
/* Code examples */

.http{
    font-family: monospace;
    background-color: lightyellow;
}

[data-custom-style=CURLexample] {
    background-color: #deeaf6;
}

[data-custom-style=Request] {
    background-color: #fff2cc;
}

[data-custom-style=Response] {
    background-color: #eeffcc;
}

/* Tables */

table {
    border-collapse: collapse;
    border-bottom: 1px solid #2E74B5;
    font-size: 90%;
}

table th {
    font-weight: bold;
    text-align: left;
    background-color: #2E74B5;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table td, table th {
    padding: 4px;
    vertical-align: top;
}

.subtitle {
    position: absolute;
    top: 1rem;
    left: 400px;
    font-size: 3em;
    margin-top: 0;
    top: 1.8rem;
}

.title {
    padding-top: 2.5rem;
    font-size: 3em;
    color: #000;
}

.date {
    font-size: 110%;
    color: #0070C0;
}

.miniheader {
    display: none;
}

@media print {
    header {
        page-break-after: always;
        margin-top: 14rem;
        min-height: 100%;
    }

    .copyright {
        border-top: 1px solid #000;
        text-align: center;
        display: block;
        position: absolute;
        top: 28cm;
        left: 0;
        right: 0;
        width: auto;
        height: 4rem;
        padding-top: 1rem;
    }

    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 4rem;
    }


    
    body {
        border: none;
        margin: 0;
        width: auto;
    }
    

    @page {
        margin: 2cm;
        margin-top: 3cm;
    }

    
}

